@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f4f8;
}

/* header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f8;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    opacity: 0; /* 透明にする */
    transition: opacity 5s ease; /* 5秒でフェードイン */
}

.header-image-mb{
    display: none;
}

@media (max-width:560px) {
    .header-image{
        display: none;
    }

    .header-image-mb {
        z-index: 10000;
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        transition: opacity 5s ease; /* 5秒でフェードイン */
    }
}
/* header end */

/* about */
.about {
    padding: 40px 20px;
    background-color: #f0f4f8;
    text-align: center;
}

.about h2 {
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc {
    max-width: 1150px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px #777777;
    margin-top: 20px;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}

.about-desc p {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.about-focus {
    background-color: #ADD8E6;
    font-size: 1.4rem;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 2rem; /* 小さい画面ではフォントサイズを小さく */
    }

    .about-desc {
        padding: 15px; /* パディングを減らす */
    }

    .about-desc h3 {
        font-size: 1.5rem; /* 小さい画面ではフォントサイズを小さく */
    }
}

@media (max-width: 480px) {
    .about h2 {
        font-size: 1.8rem; /* 更に小さい画面ではフォントサイズを小さく */
    }

    .about-desc h3 {
        font-size: 1.2rem; /* 更に小さい画面ではフォントサイズを小さく */
    }

    .about-desc p {
        font-size: 1.0rem; /* 更に小さい画面ではフォントサイズを小さく */
    }
}

.about-desc a{
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s; /* 色の変更を滑らかに */
}

.about-desc a:hover {
    color: orange; /* ホバー時のリンクの色をオレンジに */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.about-desc-underline {
    text-decoration: underline;
}

.about-desc-bold {
    font-weight: bold;
}
/* about end */

/* details */
.circle-details {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}

.circle-detail {
    background: white;
    flex: 0 0 44%;
    width: 44%;
    height: auto;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #777777;
}

.circle-image {
    width: 94%;
    height: auto;
    border-radius: 8px;
    margin: 3%;
}


.circle-detail > h3, p {
    margin: 3%;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
    color: #f0a500;
}

@media (max-width: 768px) {
    .circle-detail {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
/* details end */