@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ff;
}

header {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2;
}

.contact-section {
    padding: 20px 30px;
    text-align: left;
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2;
    height: 1000px;
}

h2 {
    font-size: 28px;
    color: blue;
}

.contact-section p {
    font-size: 18px;
}